<!-- <div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h2>
        <a href="{{ "/" | relative_url}}">
          {{ site.author.name }}
        </a>
      </h2>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="{{ "/" | relative_url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}
      <a class="sidebar-nav-item{% if page.url == "/category/" %} active{% endif %}" href="{{ "/category/" | relative_url }}">Categories</a>

      {% assign pages_list = site.pages %}
      {% for node in pages_list %} 
        {% if node.title != null %}
          {% if node.layout == "aboutpage" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      
      
    </nav>
    {% include stackOverFlowFlair.html %}
    {% include social.html %}
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    <a class="sidebar-nav-item{% if page.url == "/amazon-affiliate-disclaimer/" %} active{% endif %}" href="{{ "/amazon-affiliate-disclaimer/" | relative_url }}">Amazon Affiliate Disclaimer</a>

  </div>
</div> -->

{% assign trans = site.data.values[site.lan] %}
<div class="sidebar well">
    <header class="sidebar-header" role="banner">
        <a href="{{ site.url }}/">
            <img data-srcset="{{ site.url }}/assets/images/profilepic.jpeg 300w,
            {{ site.url }}/assets/images/profilepic.jpeg 600w,
            {{ site.url }}/assets/images/profilepic.jpeg 900w" data-sizes="auto" src="{{ site.url }}/assets/images/profilepic.jpeg" data-src="{{ site.url }}/assets/images/profilepic.jpeg" class="lazy-loading img-circle" />
        </a>
        <!--
        <h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
        </h3>
        -->
    </header>
    <div class="text-center">
        {{ site.description }}
    </div>
</div>

<div class="sidebar well">
    {% include links-list.html %}
</div>
{% if page.noad != 1 %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- vertical ad -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8689548599050263"
         data-ad-slot="7412301644"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
{% endif %}
<div class="sidebar well">
    <h1>{{ trans.recent_posts }}</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.url}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% if page.noad != 1 %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- vertical ad -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8689548599050263"
         data-ad-slot="7412301644"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- vertical ad -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8689548599050263"
         data-ad-slot="7412301644"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

{% endif %}