<div>
    <ul class="social">
        <li>
            <a href="www.linkedin.com/in/peter-n-haddad" target="_blank"><i class="fab fa-linkedin"></i></a>
        </li>
        <li>
            <a href="https://stackoverflow.com/users/7015400" target="_blank"><i class="fab fa-stack-overflow"></i></a>
        </li>
        <li>
            <a href="https://twitter.com/peterndev" target="_blank"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
            <a href="https://github.com/peterHdd" target="_blank"><i class="fab fa-github"></i></a>
        </li>
        <li>
            <a href="mailto:peterhd3412@gmail.com" ><i class="fas fa-envelope"></i></a>
        </li>
    </ul>
</div>