<div class="center-stack">
    <a href="https://stackoverflow.com/users/7015400/peter-haddad">
        <img data-srcset="https://stackoverflow.com/users/flair/7015400.png 300w,
        https://stackoverflow.com/users/flair/7015400.png 600w,
        https://stackoverflow.com/users/flair/7015400.png 900w" data-sizes="auto" class="lazy-loading" src="https://stackoverflow.com/users/flair/7015400.png" data-src="https://stackoverflow.com/users/flair/7015400.png" width="208" height="58" alt="profile for Peter Haddad at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Peter Haddad at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
    </a>
</div>