html {
  height:100%;
}

body {
  padding-top: 60px;
  height:100%;
  background-color: var(--main-background-color);
}

h1, h2, h3, h4 ,h5 ,h6 {
  font-weight :bold !important;
}

.wrap {
  position:relative;
  min-height:100%;
}

.footer {
  text-align: center;
  color: $footer-color;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  min-height:40px;
  background-color:$footer-background-color;
}

.footer a {
  /* color: #aaa; */
  color: $footer-a-color;
}

.footer a:hover {
  color: $footer-a-hover-color;
}

.footer p {
  margin-top:10px;
}

/* side bar */
.sidebar {
  // color: $side-bar-color;
  background-color:var(--box-background-color);
  font-size: 1.1em;
  padding: 10px !important;
}

.sidebar h1 {
  font-size: 1.3em;
}

.sidebar a {
  color:var(--medium-text-color);
}

.sidebar li {
  margin-top: .7em;
  line-height: 1em;
}

.sidebar a:hover {
  color: $side-bar-a-hover-color;
}

/* Xixia logo */
.sidebar-header {
text-align: center;
margin-bottom: 10px;
}

.container-left {
  margin: 0;
  padding-bottom:60px;
}

/* post style */
.article {
  font-size: 17px;
  color: var( --light-text-color);
}

.article img {
  max-width:100%;
}

/* set the link style */
.article a {
color: var(--link-color);
}

.article a:hover {
color: $article-a-hover-color;
}

.icon-style {
  font-size: 16px;
}

.post-date {
text-transform: uppercase;
font-size: 14px;
letter-spacing: 3px;
}

/* 
  custom bootstrap navbar
  reference from: https://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3 
*/
.navbar-custom {
  background-color: $nav-bar-background-color;
  color: $nav-bar-color;
  border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
  color: $nav-bar-color;
}

.navbar-custom .navbar-nav > .active > a {
  color: $nav-bar-color;
  background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
  text-decoration: none;
  background-color: $nav-bar-open-a-background-color;
}

.navbar-custom .navbar-brand {
  color: $nav-bar-brand-color;
}

.navbar-custom .navbar-brand:hover {
  color: $nav-bar-brand-hover-color;
}

.navbar-custom .navbar-toggle {
  background-color:#eeeeee;
}
.navbar-custom .icon-bar {
  background-color: $nav-bar-icon-bar;
}

/*
* Social list
*
*
*
*/
.social li{
  float: left;
}

.social{
 list-style-type: none;
 overflow: hidden;
 padding : 0;
 margin-left: 20px !important;
}

.social li a{
  text-align: center;
 padding: 10px;
}

  .center-stack
  {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display:table;
   
  }
  .social
  {
    list-style-type: none;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display:table;
    overflow: hidden;
   }

  //  .shared-bar a {
  //     display: block;
  //     text-align: center;
  //     padding: 16px;
  //     transition: all 0.3s ease;
  //     color: white;
  //     font-size: 20px;
  //   }
  
  //    .shared-bar {
  //   position: fixed;
  //   top: 50%;
  //   -webkit-transform: translateY(-50%);
  //   -ms-transform: translateY(-50%);
  //   transform: translateY(-50%);
  //   right:0;
  // } 
  @media screen and (min-width: 800px) {
    .shared-bar a {
      display: block;
      text-align: center;
      padding: 16px;
      transition: all 0.3s ease;
      color: white;
      font-size: 20px;
    }
  
     .shared-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right:0;
  } 
  }
  .github{
    margin-left: 25px !important;
  }
  .facebook {
      background: #3B5998;
      color: white;
    }
    
    .twitter {
      background: #55ACEE;
      color: white;
    }
    
    .linkedin {
      background: #007bb5;
      color: white;
    }
    
    .reddit {
      background: #bb0000;
      color: white;
    } 

    .reading:hover {
      border-bottom: none !important;
      text-decoration: none;
    }

    .reading{
      // color: #008aa2 !important;
      color: var(--link-color);
    }

    @media only screen and (max-width: 800px) {
      .center-stack
      {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display:table;
       
      }
      .social
      {
        list-style-type: none;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        display:table;
        overflow: hidden;
       }
    
       .shared-bar {
        bottom: 0;
        display: flex;
        left: 0;
        right: 0;
        top: auto;
        width: 100%;
        position: fixed;
      }
      .shared-bar a {
        text-align: center;
        padding: 8px 8px;
        width: 100%;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;
      }
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    .highlight{
      border : none !important;
    }

    //dark theme
    .well-color{
      color: var(--medium-text-color);
    }
    .well{
      color: var(--main-text-color);
    }
    #mc_embed_signup {
      background:var(--background-color-sub) !important;
      clear: left;
      font: 16px Helvetica,Arial,sans-serif;
  }
  #mc_embed_signup .mc-field-group input {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-indent: 2%;
    background:var(--background-color-sub) !important;
    border-color: var(--light-border-color) !important;
    font-size: 13px;
}
.btn-color{
  background-color: var(--btn-back-color);
  color: var(--main-text-color) !important;
}
    html, html[data-theme="light"] {
      --btn-back-color:#fff;
      --bold-color: rgb(0, 0, 0);
      --background-color-sub: #fff;
      --box-background-color:#eeeeee;
      --highlight-color: hsl(0, 0%, 80%);
      --light-border-color: rgb(230, 230, 230);
      --light-text-color: rgb(72, 72, 74);
      --link-color: rgb(0, 112, 201);
      --link-color-visited: hsl(250, 100%, 37%);
      --main-background-color: rgb(255, 255, 255);
      --main-text-color: rgb(51, 51, 51);
      --medium-text-color: hsl(0, 0%, 20%);
      --sidebar-color: hsl(0, 0%, 90%);
      --underline-color: hsl(0, 0%, 60%);
    }
    
    html[data-theme="dark"] {
      --btn-back-color:#2c3e50;
      --bold-color: rgb(240, 240, 240);
      --background-color-sub: hsl(0, 0%, 20%);
      --box-background-color: hsl(0, 0%, 20%);
      --highlight-color: hsl(0, 0%, 60%);
      --light-border-color: hsl(0, 0%, 30%);
      --light-text-color: rgb(199, 199, 204);
      --link-color: rgb( 100, 210, 255);
      --link-color-visited: hsl(250, 100%, 60%);
      --main-background-color: #2d2d2d;
      --main-text-color: rgb(229, 229, 234);
      --medium-text-color: hsl(0, 0%, 70%);
      --underline-color: hsl(0, 0%, 50%); 
    }
    
    
    @media (prefers-color-scheme: dark) {
        html, html[data-theme="dark"] {
          --btn-back-color:#2c3e50;
          --bold-color: rgb(255, 255, 255);
          --background-color-sub :hsl(0, 0%, 20%);
          --box-background-color: hsl(0, 0%, 20%);
          --highlight-color: hsl(0, 0%, 60%);
          --light-border-color: hsl(0, 0%, 30%);
          --light-text-color: rgb(199, 199, 204);
          --link-color: rgb( 100, 210, 255);
          --link-color-visited: hsl(250, 100%, 60%);
          --main-background-color: #2d2d2d;
          --main-text-color: rgb(229, 229, 234);
          --medium-text-color: hsl(0, 0%, 70%);
          --underline-color: hsl(0, 0%, 50%); 
        }
    
        html[data-theme="light"] {
          --btn-back-color:#fff;
      --bold-color: rgb(0, 0, 0);
      --background-color-sub: #fff;
      --box-background-color: #eeeeee;
      --highlight-color: hsl(0, 0%, 80%);
      --light-border-color: rgb(230, 230, 230);
      --light-text-color: rgb(72, 72, 74);
      --link-color: rgb(0, 112, 201);
      --link-color-visited: hsl(250, 100%, 37%);
      --main-background-color: rgb(255, 255, 255);
      --main-text-color: rgb(51, 51, 51);
      --medium-text-color: hsl(0, 0%, 20%);
      --sidebar-color: hsl(0, 0%, 90%);
      --underline-color: hsl(0, 0%, 60%);
      } 
    }
    
    
    html, html[data-theme="dark"], html[data-theme="light"] {
      height: 100%;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
    }

    div.fixed {
      position: fixed;
      bottom: 0;
      right: 0;
      background-color: black;
      height: 100px;
      color: white;
      width: 300px;
      border: 1px solid;
    }