{% include head.html %}

<div class="wrap">
    <div class="container container-left">
        <div class="row">
            <div class="col-md-3 hidden-xs">
                {% include sidebar.html %}
                {% if page.noad != 1 %}
                <br>
                                <!-- vertical ad -->
                <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-8689548599050263"
                     data-ad-slot="7412301644"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script> -->
                {% endif %}
            </div>
            <div class="col-md-9">
                {{ content }}
            </div>
        
        </div>
    </div>

    {% include footer.html %}
</div>