---
layout: default
---

<div class="post">
  {{page.ad}}
  <h2 class="post-title">{{ page.title }}</h2>
  <span class="post-date text-primary">{{ page.date | date_to_string }}</span>
  {{ content }}
  {% include comments.html %}
  {% include shareIcons.html %}
  <br>
  <div style="background-color: black; color:white;padding: 20px">
    Deploy your next app in seconds. Get $100 in cloud credits from @DigitalOcean using my link: https://m.do.co/t/4404997f0652
  </div>
  <br>
  {% include subscribe.html %}
</div>
<div class="related">
  <h3>Related Posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% include credits.html %}

